@page  
@model InvoiceManagement.Pages.RegisterModel
@{
}
<html>
<body>
    <table>
        <tr>
            <td>
                Name
            </td>
            <td><input type="text" class="form-control" name="Name" /></td>
                  </tr>
            <tr>
            <td>
                Address
            </td>
                <td><input type="text" class="form-control" name="Name" /></td>
            </tr>
        <tr>
            <td>
                Gender
            </td>
            <td><input type="text" class="form-control" name="Name" /></td>
            </tr>
        <tr>
            <td>
                Email
            </td>
            <td><input type="text" class="form-control" name="Name" /></td>
            </tr>
            
    </table>
</body>
</html>
