@page  
@model InvoiceManagement.Pages.RegisterModel
@{
}
<html>
<body>
      @*added new comment*@
    <table>
        <tr>
            <td>
                Name
            </td>
            <td><input type="text" class="form-control" name="Name" /></td>
                  </tr>
            <tr>
            <td>
                Address
            </td>
                <td><input type="text" class="form-control" name="Name" /></td>
            </tr>
        <tr>
            <td>
                Gender
            </td>
            <td><input type="text" class="form-control" name="Name" /></td>
            </tr>
        <tr>
            <td>
                Email
            </td>
            <td><input type="text" class="form-control" name="Name" /></td>
            </tr>
        <tr>
            <td>
                <input type="button" value="submit" class="btn btn-primary" />
            </td>
            <td>

            </td>
        </tr>
            
    </table>
</body>
</html>
