@page
@model InvoiceManagement.Pages.RegisterModel
@{
}
<html>
<body>
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                Address
            </td>
            <td>
                Gender
            </td>
            <td>
                Email
            </td>
        </tr>
    </table>
</body>
</html>